
.maincontainer{
  display: flex ;
  gap:20px ;
  height:100vh ;
  width:100vw ;
  justify-content: center ;
  flex-wrap: wrap ;
 
}

.container1{
  
  background-color: white;
  border: 1px solid black;
  border-radius: 2rem ;
  text-align: center ;
  line-height: 3rem ;
  margin-top:20px ;
  margin-bottom:30px ;
  font-size: large ;
  
}

ul{
  list-style: none ;
  text-align: left ;
  margin-right:10px ;
}

body{
  font-family: 'Poppins', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(2,228,218,1) 1%, rgba(0,133,246,1) 70%, rgba(0,212,255,1) 97%);
}

.btn-primary{
  border-radius: 20px;
  width:14vw;
  height:7vh;
  margin-bottom: 13px;
}

.price{
 font-weight: bold;
 font-size:50px;
}


